<div app-theme class="bottonsheet-container">
  <div class="dialog-button-container">
    <button class="float-right btn-close-dialog" mat-button (click)="bottomSheetRef.dismiss()"><i class="material-icons">close</i></button>
  </div>

  <div class="container">
    <div class="row user-dialog-container">

      <div class="col-md-5 display-center">
        <div class="user-basic-name">
          <span>{{user?.name?.charAt(0)}}</span>
        </div>
      </div>

      <div class="col-md-7 display-center">
        <div class="user-description">
          <h3 class="text-center">{{user?.name}}</h3>

          <p class="mb-0 text-center">{{user.email}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
